@model CdSite.Models.Lending

@{
    ViewData["Title"] = "Detaljer om lån";
}


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>

<div>
    <h4>Lending</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BorrowerName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BorrowerName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cd)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cd.Title)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Redigera</a> |
    <a asp-action="Index">Tillbaka till lånelistan</a>
</div>
</body>
</html>
