
@model IEnumerable<CdSite.Models.Lending>
@{
    ViewData["Title"] = "Lån av CD";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <h1>Utlånade CD-skivor</h1>
<p>
    <a asp-action="Create">Lägg till ett nytt lån</a>
</p>

<form asp-controller="Lending" asp-action="Index" method="get">
    <p>
        Sök på namn: <input type="text" name="SearchString" />
        <input type="submit" value="Filter" />
    </p>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BorrowerName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cd)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BorrowerName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
                        <td>
                @Html.DisplayFor(modelItem => item.Cd.Title)
            </td>

            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Redigera</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Detaljer</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Radera</a>
            </td>
        </tr>
}
    </tbody>
</table>
</body>
</html>
